.container {
  height: 100vh;
  background-color: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-bottom: 40px;
}
.content-container {
  width: 430px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: var(--primary-color);
  margin-top: 40px;
}

.content-body {
  padding: 40px;
}

.input-wrapper {
  display: flex;
  border: 1px solid #cbcbd2;
  border-radius: 4px;

  height: 44px;
  margin-bottom: 20px;
}

.input-wrapper img {
  margin: auto 10px;
  width: 18px;
  height: 18px;
}
.input-wrapper input {
  font-size: 14px;
  padding: 8px;
  flex: 1;
  border: none;
  border-left: 1px solid #cbcbd2;
  outline: none;
}

.input-label {
  color: #62748e;
  font-size: 12px;
  font-weight: 450;
  margin-bottom: 5px;
}

.btn-wrapper {
  width: 100%;
  padding: 10px 18px;
  border: 1px solid transparent;
  border-radius: 6px;
  position: relative;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  background-color: #6c4f8f;
}

.btn-wrapper p {
  text-align: center;
}
.error-msg {
  height: 12px;
  margin-top: 10px;
  color: red;
  font-size: 12px;
}
.content-footer {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  padding: 20px;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5;
  color: #4a5568;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-footer p {
}

.content-footer a {
  color: var(--primary-color);
  text-decoration: underline;
}
