<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    margin: 0;
  }
</style>

<div class="container">
  <img src="../assets/logo-heroku.png" class="logo" />
  <div class="content-container">
    <h3 class="" title>Log in to your account</h3>

    <div class="content-body">
      <p>Email address</p>
      <div class="input-container">
        <img src="../assets/icon-username.png" />
        <input value="tmhoang126@gmail.com" />
      </div>
      <div class="input-container">
        <img src="../assets/icon-password.png" />
        <input type="password" value="tmhoang126@gmail.com" />
      </div>
    </div>

    <div class="content-footer">
      <p>New to Heroku? <a>Sign Up</a></p>
    </div>
  </div>
</div>
